{% extends 'base.html' %}

{% block title %}
Signup
{% endblock title %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 jumbotron">
            <h4 class="text-center bg-light text-dark">Sign Up Here</h4>
            <br>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <form id="signup-form" action="{{ url_for('main.signup') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.usertype.label(class="form-label") }}
                    {{ form.usertype(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}

                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-dark btn-sm btn-block") }}
                </div>
            </form>
            <br>
            Already a User? <a href="{{ url_for('main.login') }}">Login</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock body %}
